@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto';
}
body{
    background: url(../img/background.png)
}
header{
    background: #4b4b4b;
    color: white;
    width: 100%;
    height: 60px;
    font-weight: 900;
    font-size: 35px;
    text-align: center;
    padding-top: 10px;
    letter-spacing: 2px;
}
.container{
    display: block;
    position: absolute;
    background: #fff;
    border-radius: 10px;
    margin: 30px 60px 30px 60px;
    padding: 20px 40px 20px 40px;
}
h1{
    text-decoration: underline;
}
h3{
    margin: 10px 0px 10px 0px;
    font-weight: 700;
}
p{
    font-family: 'Lato';
    font-weight: 500;
    font-size: 20px;
}
