@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

@font-face {
    font-family: Game;
    src: url(GameOfSquids.ttf);
    
  }

  @font-face {
    font-family: Netron;
    src: url(Netron.ttf);
  }


*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto';
}
body{
    background: url(../img/scifibg.jpg);
    background-size: 1920px 1080px;
}
header{
    background: transparent;
    color: white;
    width: 50%;
    height: 60px;
    font-weight: 700;
    font-size: 35px;
    margin:auto;
    text-align: center;
    padding-top: 10px;
    border:1px solid white;
    border-radius: 20px;
    font-family: Netron;
    border-top:none;
    border-bottom:none;
}


#content{  
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    width: 100%;
    height: 700px;
    margin-top: 20px;
}
#left_side{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}
.board{
    display: block;
    position: relative;
    height: 700px;
    width: 700px;
    border-radius: 20px;
    background: url(../img/boardv3.png);
}
.boardfin{
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    width: 500px;
    background: #fff;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 3px solid #000;
    background-color: rgb(255, 255, 255,0.7);
}
.rejouer,.return_menu{
    background: #fff;
    display: block;
    width: 70%;
    text-align: center;
    padding: 1em;
    border-radius: 10px;
    margin: 1em;
    box-shadow: 1px 1px 22px #000;
    font-size: 20px;
    cursor: pointer;
}
.rejouer:hover,.return_menu:hover{
    background: #4b4b4b;
    transition: 0.5s;
    color: #fff;
}
.rejouer:active,.return_menu:active{
    transform: scale(0.9);
    transition: transform 0.1s;
}
.piece{
    position: absolute;
    cursor: pointer;
}
.piece.red{
    background: url(../img/piecesv3.png);
    height: 80px;
    width: 25px;
}
#piece_red1{
    /* 
    0-75-192-309-426-543-620 valeurs de top 
    +75 puis +117 et le dernier +77
    pour les déplacements
    */
    left: 103px;
    top: 0px;
    background-position: -93px -206px;
}
#piece_red2{
    left: 220px;
    top: 0px;
    background-position: -93px -206px;
}
#piece_red3{
    left: 337px;
    top: 0px;
    background-position: -93px -206px;
}
#piece_red4{
    left: 454px;
    top: 0px;
    background-position: -93px -206px;
}
#piece_red5{
    left: 571px;
    top: 0px;
    background-position: -93px -206px;
}
.piece.yellow{
    background:url(../img/piecesv3.png);
    height: 25px;
    width: 80px;
}
#piece_yellow1{
    /* 
    0-75-192-309-426-543-620 valeurs de left
    +75 puis +117 et le dernier +77
    pour les déplacements
    */
    left: 0px;
    top: 103px;
    background-position: 111px 208px;
}
#piece_yellow2{
    left: 0px;
    top: 220px;
    background-position: 111px 208px;
}
#piece_yellow3{
    left: 0px;
    top: 337px;
    background-position: 111px 208px;
}
#piece_yellow4{
    left: 0px;
    top: 454px;
    background-position: 111px 208px;
}
#piece_yellow5{
    left: 0px;
    top: 571px;
    background-position: 111px 208px;
}

#right_side{
    display: flex;
    flex-direction:column;
    align-items:center;
    width: 30%;
    height:400px;
    background:transparent;
    border: 2px solid white;
    border-radius: 20px;
    margin-right:100px;
}
#score{
    background: transparent;
    width: 60%;
    margin: 5%;
    text-align: center;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 10px 5px 10px black;
    padding: 10px;
    color:white;
}
#scoretext{
    margin: 5px;
}

.dot{
    height:25px;
    width: 25px;
    border-radius: 50%;
    margin-top: 10px;
    border:1px solid white;
    display: inline-block;

}

#red_player_title{
    color:red;
    font-family: Netron;
}

#yellow_player_title{
    color:#fbc531;
    font-family: Netron;
}


#player1{
    display: block;
    background: transparent;
    border-radius: 20px;
    margin-top: 20px;
    padding: 1em;
    width: 80%;
    color:white;
    border:1px solid white;
    
}
#player2{
    display: block;
    background: transparent;
    border-radius: 20px;
    margin-top: 20px;
    padding: 1em;
    width: 80%;
    color:white;
    border:1px solid white;
}

    /* Style audio */
#audio{
    align-items: center;
    width: 10%;
    padding-left: 10px;
}
#playpausebutton{
    padding: 0;
    border: 0;
    background: inherit;
    cursor: pointer;
    outline: none;
    width: 40px;
    height: 40px;
    margin: 20px 2.5% 20px 2.5%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../audio/play.png);
}

#muteunmutebutton{
    padding: 0;
    border: 0;
    background: inherit;
    cursor: pointer;
    outline: none;
    width: 40px;
    height: 40px;
    margin: 20px 2.5% 20px 2.5%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../audio/son.png);
}


#main-menu-button{
    width:200px;
    height:50px;
    font-size: 16px !important;
    padding:0px;
    background: rgb(63,94,251);
    background: -moz-radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb",endColorstr="#fc466b",GradientType=1);
    background-size: 500px 400px;
    backdrop-filter: blur(10px);
    
    text-align: center;
    
    border-radius: 10px;
    
    font-size: 20px;
    cursor: pointer;
    color:white;
    outline: none;
    border: 3px solid rgba(128,128,128,0.3);
}

    
button:hover{
    border: 2px solid white !important;
    border-radius: 10%;
    transition: 0.2s;
    color: white;
    filter: drop-shadow(0 0 1rem crimson);
}
button:active{
    transform: scale(0.9);
    transition: transform 0.1s;
}

input:hover{
    filter: drop-shadow(0 0 1rem crimson);
}

